@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    /* colors */
    --bg-header: #eac926;
    --bg-white: #ffffff;
    --text-black: #181818;
    --border-gris: #ebebeb;
    --gris-oscuro: #666;
    --azul-oscuro: #03264c;
    --azul: #1259c3;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    /* fonts */
    --font-roboto: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-black);
    font-family: var(--font-roboto);
    background-color: var(--gris-claro);
}

header {
    font-size: 13px;
    background-color: var(--bg-header);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__logo {
    width: 50%;
}
.logo__img {
    width: 10rem;
    padding: 1rem;
}
.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.search__input {
    height: 2.1rem;
    width: 80%;
    border: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.2rem;
}
.search__input:focus {
    outline: none;
}
.search__btn {
    height: 2.1rem;
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    padding-right: 0.3rem;
    background-color: var(--bg-white);
}
.header__cuotas {
    width: 100%;
}
.cuotas-p {
    text-align: center;
}

nav {
    font-size: 13px;
    width: 100%;
}
.nav__div {
    display: none;
}
.nav__ul {
    margin-bottom: 1.25rem;
    display: flex;
    width: 21.8rem;
    justify-content: space-evenly;
    list-style: none;
}
.nav__li {
    margin-bottom: 0.1rem;
}
.nav__a {
    color: var(--text-black);
    text-decoration: none;
}
.nav__a:hover {
    text-decoration: underline 1px solid black;
}

.nav__mobile {
    width: 100%;
    text-align: center;
}
.mobile__btn {
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    background-color: var(--azul);
    border-radius: 0.3rem;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    border: 0px;
}
.mobile__btn--i {
    font-size: 20px;
    color: var(--gris-claro);
}

.header__banner {
    width: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

section {
    width: 16.25rem;
}
.section__h2 {
    width: 100%;
    font-size: 22px;
    margin: 1.25rem 0 1.25rem 0;
    display: flex;
    align-items: center;
    color: var(--gris-oscuro);
}
.section__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.div__card {
    background-color: var(--bg-white);
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 15.65rem;
    border-radius: 0.3rem;
}
.card__div {
    width: 100%;
    border-top: 1px solid var(--border-gris);
    padding: 8%;
    position: relative;
}
.card__img {
    width: 100%;
    padding: 10%;
}
.card__envio {
    display: block;
    font-size: 16px;
    padding: 0.3rem;
    width: 1.85rem;
    height: 1.85rem;
    border: 1px solid var(--verde);
    color: var(--verde);
    background-color: var(--bg-white);
    border-radius: 50%;
    position: absolute;
    right: 1.25rem;
    top: -1rem;
}
.card__importe {
    display: flex;
    margin-top: 0.3rem;
    align-items: center;
}
.card__precio {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-oscuro);
}
.card__descuento {
    font-size: 16px;
    position: relative;
    left: 0.6rem;
    color: var(--verde);
}
.card__descripcion {
    display: none;
    font-size: 16px;
    color: var(--gris-oscuro);
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

footer {
    background-color: var(--bg-white);
    color: var(--gris-oscuro);
}
.footer__div {
    margin-top: 1rem;
    text-align: center;
}
.footer__p {
    width: 60%;
    margin: auto;
    font-size: 12px;
}
.footer__icons {
    color: var(--azul);
    font-size: 2em;
    margin: 2.5rem 0 0.6rem 0;
}
.footer__copy {
    margin: 2.5rem 0 0 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
}

@media (min-width: 576px) {
    main {
        display: block;
        width: 90%;
        margin: auto;
    }
    section {
        width: 100%;
    }
    .section__h2 {
        margin: 1.25rem 0 1.25rem 0;
        justify-content: start;
        align-items: flex-start;
    }
    .section__article {
        width: 33rem;
        margin: auto;
    }
    .div__card {
        box-shadow: 0px 0px 0.6rem var(--gris-oscuro);
    }
    .card__descripcion {
        display: block;
    }
}
@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }
    .header__logo {
        width: 33%;
    }
    .logo__img {
        margin-left: 0.8rem;
    }
    .header__search {
        width: 33%;
    }
    .header__cuotas {
        width: 33%;
        display: flex;
        justify-content: flex-end;
    }
    .cuotas-p {
        text-align: start;
        margin-right: 1.85rem;
    }

    .nav__div {
        display: flex;
        justify-content: space-between;
    }
    .nav__mobile {
        display: none;
    }

    .section__article {
        width: 33rem;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .section__article {
        width: 48.5rem;
        margin: auto;
    }

    .div__card {
        margin: 0.5rem 0 0.5rem 0;
    }
}
@media (min-width: 1200px) {
    .section__article {
        width: 65rem;
        margin: auto;
    }
}
