@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
    /* colors */
    --bg-header: #eac926;
    --bg-white: #ffffff;
    --text-black: #181818;
    --border-gris: #ebebeb;
    --gris-oscuro: #666;
    --azul-oscuro: #03264c;
    --azul: #1259c3;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    /* fonts */
    --font-roboto: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-black);
    font-family: var(--font-roboto);
    background-color: var(--gris-claro);
}

header {
    font-size: 13px;
    background-color: var(--bg-header);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__logo {
    width: 50%;
}
.header__logo--img {
    width: 10rem;
    padding: 1rem;
}
.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.header__search--input {
    height: 2.1rem;
    width: 80%;
    border: 0;
    border-radius: 0.5rem 0 0 0.5rem;
    padding-left: 0.6rem;
    padding-right: 0.2rem;
}
.header__search--input:focus {
    outline: none;
}
.header__search--btn {
    height: 2.1rem;
    border: 0;
    border-radius: 0 0.5rem 0.5rem 0;
    padding-right: 0.3rem;
    background-color: var(--bg-white);
}
.header__cuotas {
    width: 100%;
}
.header__cuotas--p {
    text-align: center;
}
nav {
    font-size: 13px;
    width: 100%;
}
.nav__div {
    display: none;
}
.nav__ul {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
.nav__li {
    margin-bottom: 0.1rem;
}
.nav__a {
    color: var(--text-black);
    text-decoration: none;
}
.nav__a:hover {
    text-decoration: underline 1px solid black;
}

.nav__mobile {
    width: 100%;
    text-align: center;
}
.nav__mobile--btn {
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    background-color: var(--azul);
    border-radius: 0.3rem;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    border: 0px;
}
.nav__mobile--btn i {
    font-size: 16px;
    color: var(--gris-claro);
}
.header__banner {
    width: 100%;
}

.home__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
}
.home__section {
    width: 16.25rem;
}
.home__h2 {
    width: 100%;
    font-size: 17px;
    margin: 1rem 0 0.75rem 0;
    display: flex;
    align-items: center;
    margin-left: 2rem;
    color: var(--gris-oscuro);
}
.home__article {
    display: flex;
    flex-wrap: wrap;
}
.home__card {
    background-color: var(--bg-white);
    margin: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 12rem;
    border-radius: 0.3rem;
}
.card__div {
    width: 100%;
    border-top: 1px solid var(--border-gris);
    padding: 8%;
    position: relative;
}
.card__img {
    width: 100%;
    padding: 10%;
}
.card__envio {
    display: block;
    font-size: 16px;
    padding: 0.3rem;
    width: 1.85rem;
    height: 1.85rem;
    border: 1px solid var(--verde);
    color: var(--verde);
    background-color: var(--bg-white);
    border-radius: 50%;
    position: absolute;
    right: 1.25rem;
    top: -1rem;
}
.card__importe {
    display: flex;
    margin-top: 0.3rem;
    align-items: center;
}
.card__precio {
    font-size: 18px;
    font-weight: 500;
    color: var(--azul-oscuro);
}
.card__descuento {
    font-size: 16px;
    position: relative;
    left: 0.6rem;
    color: var(--verde);
}
.card__descripcion {
    display: none;
    font-size: 16px;
    color: var(--gris-oscuro);
    margin-top: 0.6rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
}

.login__main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 3rem 0;
}
.login__h2 {
    margin: 1rem 0 1rem 0;
    color: var(--gris-oscuro);
}
.login__form {
    width: 250px;
    display: flex;
    flex-direction: column;
}
.login__input {
    height: 35px;
    margin: 15px 0 15px 0;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-family: var(--font-roboto);
}
.login__btn {
    margin: 10px 0 10px 0;
    border: 0;
    height: 35px;
    border-radius: 5px;
}
.login__btn--enviar {
    background-color: var(--azul);
    color: white;
    cursor: pointer;
    width: 100%;
}

.register__main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0 3rem 0;
}
.register__h2 {
    margin: 1rem 0 1rem 0;
    color: var(--gris-oscuro);
}
.register__form {
    width: 250px;
    display: flex;
    flex-direction: column;
}
.register__input {
    height: 35px;
    margin: 15px 0 15px 0;
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-family: var(--font-roboto);
}
.register__input--m {
    margin: 20px 0 20px 0;
}
.register__label {
    text-align: center;
    font-weight: 500;
}
.register__input:focus {
    outline: none;
}
.register__perfil {
    display: flex;
    justify-content: space-evenly;
}
.register__intereses {
    margin: 10px 0 10px 0.5rem;
}
.register__checkbox {
    margin: 10px 0.5rem 10px 0;
}
.register__foto {
    text-align: center;
}
.register__foto--input {
    display: none;
}
.register__foto--label {
    color: var(--gris-oscuro);
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.register__foto--label:hover {
    text-decoration: underline;
}
.register__foto--label::after {
    content: "Seleccionar archivo";
}
.register__btn {
    margin: 10px 0 10px 0;
    border: 0;
    height: 35px;
    border-radius: 5px;
}
.register__btn--borrar {
    background-color: var(--azul-oscuro);
    color: white;
    cursor: pointer;
}
.register__btn--enviar {
    background-color: var(--azul);
    color: white;
    cursor: pointer;
}

footer {
    background-color: var(--bg-white);
    color: var(--gris-oscuro);
}
.footer__div {
    margin-top: 1rem;
    text-align: center;
}
.footer__p {
    width: 60%;
    margin: auto;
    font-size: 12px;
}
.footer__i {
    color: var(--azul);
    font-size: 2em;
    margin: 2.5rem 0 0.6rem 0;
}
.footer__copy {
    margin: 2.5rem 0 0 1rem;
    padding-bottom: 1rem;
    font-weight: 400;
}

@media (min-width: 375px) {
    .home__main {
        display: block;
        width: 95%;
        margin: auto;
    }
    .home__section {
        width: 100%;
    }
    .home__h2 {
        margin: 1.25rem 0 1.25rem 0;
        font-size: 20px;
        text-align: start;
        margin-left: 2.5%;
    }
    .home__article {
        width: 100%;
        margin: auto;
    }
    .home__card {
        box-shadow: 0px 0px 0.6rem var(--gris-oscuro);
        width: 46%;
    }
    .card__descripcion {
        display: block;
    }
}
@media (min-width: 425px) {
    .home__article {
        width: 90%;
        margin: auto;
    }
    .home__card {
        width: 45%;
    }
}
@media (min-width: 567px) {
    .home__article {
        width: 75%;
        margin: auto;
    }
    .home__card {
        width: 45%;
    }
}
@media (min-width: 768px) {
    header {
        justify-content: space-between;
    }
    .header__logo {
        width: 33%;
    }
    .logo__img {
        margin-left: 0.8rem;
    }
    .header__search {
        width: 33%;
    }
    .header__cuotas {
        width: 33%;
        display: flex;
        justify-content: flex-end;
    }
    .header__cuotas--p {
        text-align: start;
        margin-right: 1.85rem;
    }
    .nav__div {
        display: flex;
        justify-content: space-between;
    }
    .nav__mobile {
        display: none;
    }
    .nav__ul {
        width: 19rem;
    }

    .home__article {
        width: 45rem;
        margin: auto;
    }
    .home__h2 {
        text-align: start;
        display: flex;
        font-size: 22px;
        align-items: center;
        margin-left: 0.4rem;
    }
    .home__card {
        width: 10.5rem;
    }

    .login__form {
        width: 500px;
        display: flex;
        flex-direction: column;
    }

    .register__form {
        width: 500px;
        display: flex;
        flex-direction: column;
    }
    .register__perfil {
        width: 50%;
        margin: auto;
        justify-content: space-evenly;
    }
    .register__intereses {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .home__article {
        width: 60rem;
        margin: auto;
    }
    .home__card {
        width: 14rem;
    }
}
