<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mercado Liebre - Ingresá</title>

        <link rel="stylesheet" href="./css/estilos.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
    </head>
    <body>
        <header> 
            <div class="header__logo">
                <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado liebre" class="header__logo--img"/>
            </div>

            <div class="header__search">
                <input class="header__search--input" type="search" placeholder="Buscar productos, marcas"/>
                <button class="header__search--btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>

            <div class="header__cuotas">
                <p class="header__cuotas--p">
                    <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito
                </p>
            </div>

            <nav>
                <div class="nav__div">
                    <ul class="nav__ul">
                        <li class="nav__li">
                            <a class="nav__a" href="/">Ofertas</a>
                        </li>
                        <li class="nav__li">
                            <a class="nav__a" href="/">Tiendas Oficiales</a>
                        </li>
                        <li class="nav__li">
                            <a class="nav__a" href="/">Vender</a>
                        </li>
                        <li class="nav__li">
                            <a class="nav__a" href="/">Ayuda</a>
                        </li>
                    </ul>

                    <ul class="nav__ul">
                        <li class="nav__li">
                            <a class="nav__a" href="/register">Creá tu cuenta <i class="fa-regular fa-id-card"></i></a>
                        </li>
                        <li class="nav__li">
                            <a class="nav__a" href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                        </li>
                        <li class="nav__li">
                            <a class="nav__a" href="/">Mis compras <i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="nav__mobile">
                    <button class="nav__mobile--btn">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                </div>
            </nav>
        </header>

        <main class="login__main">
            <h2 class="login__h2">Inicia Sesión!!</h2>
            <form class="login__form" action="/">
                <input class="login__input" type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
                <input class="login__input" type="password" name="password" id="password" placeholder="Contraseña" required>

                <button class="login__btn login__btn--enviar" type="submit">Enviar</button>
            </form>
        </main>

        <footer>
            <div class="footer__div">
                <i class="fa-solid fa-credit-card footer__i"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p class="footer__p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="footer__div">
                <i class="fa-solid fa-gift footer__i"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p class="footer__p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="footer__div">
                <i class="fa-solid fa-user-shield footer__i"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p class="footer__p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </div>
            <h5 class="footer__copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </footer>
    </body>
</html>
